@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5145BA;
}

:where(.config-container, .quiz-container, .result-container)
{
    display: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container{
    display: block;
    width: 415px;
    padding: 25px;
    text-align: center;
}

.config-container .config-title{
    font-size: 1.31rem;
}

.config-option .option-title{
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 20px;
}

.config-container .category-option{
    margin-top: 25px;
}

.config-container button{
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #9B8FFF;
}


.config-option .category-options{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.config-option .question-options{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}
.config-option button:hover{
    background: #dad5fd;
}

.question-options button{
    flex: 1 1 10%;
}

.config-option button.active{
    color: #5145BA;
    border-color: #5145BA;
    background: #dad5fd;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn,
.result-container .try-again-btn{
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    background: #5145BA;
    padding: 13px 25px;
    font-size: 1rem;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.config-container .start-quiz-btn{
    margin-top: 30px;
}





.quiz-content .answer-option:hover{
    background: #dad5fd;
}

.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover{
    background: #403795;
}


.quiz-container{
    width: 480px;
    display: none;
}

.quiz-container .quiz-header{
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.quiz-header .quiz-title{
    font-size: 1.43rem;
    font-weight: 700;
}

.quiz-header .quiz-timer{
    display: flex;
    width: 70px;
    background: #32313C;
    color: #fff;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    padding: 7px 9px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.quiz-header .quiz-timer span{
    font-size: 1.4rem;
}

.quiz-container .quiz-content{
    padding: 20px 25px 25px;
}

.quiz-content .answer-options{
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.quiz-content .answer-option{
    padding: 13px 16px;
    background: #F3F1FF;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #BFACFF;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-content .answer-option span{
    display: block;
    flex-shrink: 0;
    margin: -4px -3px -4px 12px;
}

.quiz-content .answer-option.correct{
    border-color: #B7E1C1;
    background: #D4EDDA;
    color: #155724;
}

.quiz-content .answer-option.incorrect{
    border-color: #F4BEC3;
    background: #F8D7DA;
    color: #721C24;
}

.quiz-container .quiz-footer{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c6c6c6;
}

.quiz-footer .next-question-btn{
    visibility: hidden;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 9px 17px;
    margin: 0 5px;
}

.quiz-footer .question-status{
    font-weight: 500;
}

.quiz-footer .question-status b,
.result-container .result-message b{
    font-weight: 600;
}


.result-container{
    /* display: block; */
    text-align: center;
    padding: 40px;
    width: 410px;
}

.result-container .result-img{
    width: 110px;
}

.result-container .result-title{
    margin-top: 30px;
}

.result-container .result-message{
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
}

.result-container .try-again-btn{
    margin-top: 30px;
    padding: 12px 20px;
}



@media (max-width: 624px) {
    .config-container, .quiz-container .quiz-content{
        padding: 20px;
    }

    .quiz-content .answer-option{
        padding: 12px 10px 12px 14px;
    }

    .config-container .question-options{
        padding: 0 15px;
    }

    .quiz-container .quiz-header,
    .quiz-container .quiz-footer{
        padding: 13px 20px;
    }

    .quiz-header .quiz-title,
    .quiz-content .question-text{
        font-size: 1.3rem;
    }

    .result-container{
        padding: 40px 20px;
    }

    .result-container .result-title{
        font-size: 1.4rem;
    }
}